table {
  min-width: max(100%, 110rem) ;
}

.transaction-details-bg {
  background-color: #F4F4F4 !important;
}

.payment {
  background-color: #FCEFE4 !important;
}

.recharge {
  background-color: #EFEBF8 !important;
}

.transfer {
  background-color: #F4F4F4 !important;
}
