<layout-with-filters (pageChange)="service.page.next($event); service.hasChanged.next(true)" [meta]="meta">
  <ng-container filters>
    <cc-filters/>
  </ng-container>

  <ng-container content>
    <table [ngClass]="{'h-100': cc.length == 0 || loading}" class="table w-100 relative">
      <thead class="bg-gray border-bottom">
      <tr>
        <th>#</th>
        <th class="text-left pl-4">{{'task_name' | translate}}</th>
        <th>{{'expected_time' | translate}}</th>
        <th>{{'assignees' | translate}}</th>
        <th>{{'due_date' | translate}}</th>
        <th>{{'repeat' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="cc.length > 0 && !loading">
      <tr (click)="selectedTask = task; getAssignees()"
          *ngFor="let task of cc | paginate: {itemsPerPage: meta.pageSize, currentPage: meta.currentPage, totalItems: meta.totalItems}; trackBy: trackBy"
          class="border-bottom pointer">

        <!-- id -->
        <td>
          <p class="fs-13">{{task.id}}</p>
        </td>

        <!--    title    -->
        <td class="pl-4">
          <div class="flex aic bold">
            <priority [priority]="task?.priority" class="mr-1"></priority>
            <!-- title -->
            <span *ngIf="task?.title?.length! <= 55">{{task?.title}}</span>

            <!-- trimmed title -->
            <span *ngIf="task?.title?.length! > 55" [matTooltip]="task.title">{{task?.title | slice:0:55}}...</span>
          </div>
        </td>


        <!--    expected time    -->
        <td>
          <div class="flex-center">
            <p *ngIf="task.expectedHours">
              <span *ngIf="(task.expectedHours > 2 && lang == 'ar') || lang == 'en'" class="mr-50">{{task.expectedHours | arabicNumbers}}</span>
              <span>{{(task.expectedHours | defineDays) + "_hour" | translate}}</span>
            </p>

            <p *ngIf="task.expectedMinutes && task.expectedHours" class="mx-50">:</p>

            <p *ngIf="task.expectedMinutes">
              <span *ngIf="(task.expectedMinutes > 2 && lang == 'ar') || lang == 'en'" class="mr-50">{{task.expectedMinutes | arabicNumbers}}</span>
              <span>{{(task.expectedMinutes | defineDays) + "_minute" | translate}}</span>
            </p>
          </div>
        </td>

        <!-- assignees -->
        <td class="flex-center">
          <task-vote-users [images]="task.assigneeImageUrls"></task-vote-users>
        </td>

        <!-- due date -->
        <td>
          <div class="flex-center">
            <div class="img mr-50">
              <img *ngIf="!task.isOverDue" alt="due date" src="assets/images/icons/due-date.svg">
              <img *ngIf="task.isOverDue" alt="due date" src="assets/images/icons/due-date-red.svg">
            </div>
            <span [ngClass]="{'danger': task.isOverDue}">{{task?.endDate | arabicDate:'typicalDate'}}</span>
          </div>
        </td>

        <!-- repeat -->
        <td>
          <div class="flex-center">
            <repetition [isRepeated]="task?.isRepeated || (task.parentTaskGroupId && !task.isSubTasks)"
                        [repeatedPeriod]="task?.taskRepeatedPeriod"></repetition>
          </div>
        </td>
      </tr>
      </tbody>
      <not-found *ngIf="cc && cc.length == 0 && !loading" class="a-center"></not-found>
      <loading *ngIf="loading"></loading>
    </table>

  </ng-container>
</layout-with-filters>

<task-group-details *ngIf="assigneesIsOpen" (close)="assigneesIsOpen = false" [assignees]="assignees" [open]="assigneesIsOpen" [reporters]="reporters"
                    [task]="selectedTask"></task-group-details>

<!-- <info-sidebar [open]="assigneesIsOpen">
  <ng-container header>
    <div *ngIf="selectedTask" class="flex aic jcsb w-100">
      <h3 class="card-title">{{selectedTask.title}}</h3>
      <button class="img clickable-btn chat ml-2" (click)="chat()">
        <img alt="" class="convert-image-color" src="assets/images/icons/messages.svg" width="24">
      </button>
    </div>
  </ng-container>

  <ng-container content>
    <mat-tab-group (selectedIndexChange)="selectedTap.setValue($event)" [selectedIndex]="selectedTap.value" animationDuration="400ms" class="h-100">
      <mat-tab [label]="'assignees' | translate" class="h-100">
        <div class="tasks py-2 px-2 relative h-100">
          <task-group-assignees *ngIf="!assigneesLoading" [tasks]="task"></task-group-assignees>
          <loading *ngIf="assigneesLoading"/>
        </div>
      </mat-tab>
      <mat-tab [label]="'reporters' | translate">
        <div [ngClass]="{'h-100': reporters && reporters.length == 0}" class="reporters px-2 py-2">
          <ng-container *ngIf="reporters && reporters.length > 0">
            <task-group-reporters [reporters]="reporters"></task-group-reporters>
          </ng-container>
          <ng-container *ngIf="reporters && reporters.length == 0">
            <not-found></not-found>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</info-sidebar> -->
