.min-50 {
  min-height: 300px;
  max-height: 600px;
  overflow-y: auto;
}

.table-container {
  overflow: hidden; /* Ensure overflow is hidden to apply border-radius */
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensure there is no space between table cells */
  border-spacing: 0; /* Ensure no spacing between cells */
}

th {
  border: none;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody {
  padding-bottom: 5px;
  tr {
    border-bottom: 1px solid #ddd; /* Border for table rows */
  }

  td {
    padding-block: 10px;
    padding-inline: 15px; /* Add horizontal padding */
    border: none;
    font-size: 12px;
  }
}

td,
th {
  padding-inline: 15px;
  border: none;
}

tr:last-child {
  border-bottom: none;
}

.table-container {
  overflow: auto;
}
