.img {
  .relative {
    i {
      position: absolute;
      bottom: 7px;
      inset-inline-end: 15px;
      font-size: 18px;
      height: 25px;
      width: 25px;
      background-color: #7b58ca;
      color: #fff;
    }
  }
}
