.welcome-message {
  background: linear-gradient(91deg, #7B55D3 -0.29%, rgba(123, 85, 211, 0.80) 36.72%, rgba(123, 85, 211, 0.70) 59.83%, rgba(123, 85, 211, 0.65) 100%);
  height: 120px;
  padding-inline: 20px;
}

.spaces {
  height: calc(100% - 250px);
}
