<div class="welcome p-2 h-100">
  <welcome-navbar/>
  <div class="content mt-1 h-100" >
    <layout>
      <div class="flex aic jcc h-100" *ngIf="loading">
        <loading></loading>
      </div>
      <div class="welcome-message flex aic jcsb white" *ngIf="!loading">
        <h1>{{'welcome_back' | translate}}</h1>
        <time-card/>
        <div class="img">
          <img src="assets/images/icons/welcome.svg" alt="welcome icon">
        </div>
      </div>
      <div class="spaces p-2" magicScroll>
        <h3 class="mb-1">{{'select_space' | translate}}</h3>
        <div class="flex-grid gap-y-2">
          <ng-container *ngFor="let space of spaces$ | async">
            <div class="col-lg-4" *ngIf="space.spaceId != '90817'">
              <div class="space-card bg-gray rounded p-2 flex aic jcsb pointer" (click)="handelSpace(space)">
                <div class="start flex aic gap-x-1">
                  <user-image [img]="space.spaceLogo"/>
                  <p>{{space.spaceName}}</p>
                </div>
                <div class="end chip bg-light-success rounded-5" *ngIf="space.spaceIsActive">{{'active' | translate}}</div>
                <div class="end chip bg-light-danger rounded-5" *ngIf="!space.spaceIsActive">{{'inactive' | translate}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="flex aic gap-x-1 mt-2 p-2">
        <!-- <button class="clickable-btn bg-primary fs-20 link active p-1 white rounded-3 flex-center gap-x-1" (click)="createSpace()">
          <img alt="" class="convert-image-color" ngSrc="assets/images/icons/plus.svg" height="20" width="20">
          <span>{{'create_space' | translate}}</span>
        </button> -->
        <button class="clickable-btn bg-primary fs-20 link active py-1 px-2 white rounded-3 flex-center gap-x-1" (click)="joinSpace()">
          <img alt="" class="convert-image-color" ngSrc="assets/images/icons/join.svg" height="25" width="25">
          {{'join_space' | translate}}
        </button>
      </div>
    </layout>
  </div>
</div>
