.tasks {
  height: calc(100% - 7rem);

  & > .task {
    margin-inline-start: 4rem;
  }
}

.task {
  width: 50rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}


.task-state {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 2px;
  height: 100%;
}
