.info-card {
    position: relative;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    border: 0.5px solid  #9D9D9D66;

    .date-picker-card-body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-block-end: 8px;
    }

  }
  
  .clear-btn {
    background: #D32F2F40;
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    color: #D32F2F; 
 }
.hint-info {
  color: #FFA95C;
}
.visibility-hidden {
  visibility: hidden;
}
::ng-deep month-filter {
  input.ng-invalid.ng-touched, .password.ng-invalid.ng-touched + .border-left, .phone .ng-invalid.ng-touched input, .ng-touched.ng-invalid > .ng-select-container, .input.ng-invalid.ng-touched {
    border-color: #e7e7e7 !important;
  }
}
img.icon {
  position: relative;
  bottom: -5px;
}