<div class="p-2">
  <div class="flex-grid">
    <div class="col-lg-3 mb-2">
      <div class="gender">
        <label class="fs-11 simibold mb-75" for="gender">
          <i class="mr-50 bx bx-male-female"></i>

          <span>{{'gender' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="birth-date">
        <label class="fs-11 simibold mb-75" for="birth-date">
          <i class="mr-50 bx bx-cake"></i>
          <span>{{'birth_date' | translate}}</span>
        </label>
        <mat-form-field>
          <!-- <mat-label>Choose a date</mat-label> -->
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="religion">
        <label class="fs-11 simibold mb-75" for="religion">
          <i class="mr-50 bx bx-moon"></i>
          <span>{{'religion' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="idNumber">
        <label class="fs-11 simibold mb-75" for="idNumber">
          <i class="mr-50 bx bx-id-card"></i>
          <span>{{'id_number' | translate}}</span>
        </label>
        <input id="idNumber" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="passport">
        <label class="fs-11 simibold mb-75" for="passport">
          <i class="mr-50 bx bx-lock"></i>
          <span>{{'passport' | translate}}</span>
        </label>
        <input id="passport" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="nationality">
        <label class="fs-11 simibold mb-75" for="nationality">
          <i class="mr-50 bx bx-flag"></i>
          <span>{{'nationality' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="country">
        <label class="fs-11 simibold mb-75" for="country">
          <i class="mr-50 bx bx-globe"></i>
          <span>{{'country' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="city">
        <label class="fs-11 simibold mb-75" for="city">
          <i class="mr-50 bx bx-buildings"></i>
          <span>{{'city' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-12 mb-2">
      <div class="address">
        <label class="fs-11 simibold mb-75" for="address">
          <i class="mr-50 bx bx-map"></i>
          <span>{{'address' | translate}}</span>
        </label>
        <input id="address" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="marital_status">
        <label class="fs-11 simibold mb-75" for="marital_status">
          <i class="mr-50 bx bx-male-female"></i>
          <span>{{'marital_status' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="children">
        <label class="fs-11 simibold mb-75" for="children">
          <i class="mr-50 bx bx-child"></i>
          <span>{{'children' | translate}}</span>
        </label>
        <input id="children" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="driving_license">
        <label class="fs-11 simibold mb-75" for="driving_license">
          <i class="mr-50 bx bx-car"></i>
          <span>{{'driving_license' | translate}}</span>
        </label>
        <input id="driving_license" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="ex_driving_license">
        <label class="fs-11 simibold mb-75" for="ex_driving_license">
          <i class="mr-50 bx bx-id-card"></i>
          <span>{{'ex_driving_license' | translate}}</span>
        </label>
        <mat-form-field>
          <!-- <mat-label>Choose a date</mat-label> -->
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="email">
        <label class="fs-11 simibold mb-75" for="email">
          <i class="mr-50 bx bx-envelope"></i>
          <span>{{'email' | translate}}</span>
        </label>
        <input id="email" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="argent_name">
        <label class="fs-11 simibold mb-75" for="argent_name">
          <i class="mr-50 bx bx-alarm-exclamation"></i>
          <span>{{'argent_name' | translate}}</span>
        </label>
        <input id="argent_name" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="phone_argent">
        <label class="fs-11 simibold mb-75" for="phone_argent">
          <i class="mr-50 bx bx-alarm-exclamation"></i>
          <span>{{'phone_argent' | translate}}</span>
        </label>
        <input id="phone_argent" type="text" class="input">
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

    <div class="col-lg-3 mb-2">
      <div class="military_service">
        <label class="fs-11 simibold mb-75" for="military_service">
          <i class="mr-50 bx bx-user"></i>
          <span>{{'military_service' | translate}}</span>
        </label>
        <ng-select [items]="ganders"
          bindLabel="gander"
          bindValue="id"
          [(ngModel)]="gander">
        </ng-select>
        <!-- <input-error [control]="f['nameAr']"/> -->
      </div>
    </div>

  </div>
  <div class="text-right">
    <a class="btn rounded bg-primary white py-75 px-2 fs-14">
      حفظ
    </a>
  </div>
</div>
