<auth-layout img="forgot-password-v2">
  <div class="form w-100 h-100v flex-column jcc px-2">
    <h2 class="primary">{{ "forgot_password" | translate }}</h2>
    <p class="fs-15 mb-1">{{ "enter_phone" | translate }}</p>
    <form (submit)="submit()" [formGroup]="form">
      <div class="phone mt-2">
        <input-label [control]="f['phone']" key="phone"></input-label>
        <ngx-intl-tel-input
          [cssClass]="'input'"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="false"
          [phoneValidation]="true"
          [preferredCountries]="[countryISO.Egypt, countryISO.SaudiArabia]"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [searchCountryFlag]="true"
          [selectedCountryISO]="countryISO.Egypt"
          [separateDialCode]="true"
          dir="auto"
          formControlName="phone"
        ></ngx-intl-tel-input>
        <input-error [control]="f['phone']"></input-error>
      </div>
      <button [disabled]="form.invalid || loading" class="submit rounded" color="primary" mat-raised-button>
        <submit-button [loading]="loading" text="send"></submit-button>
      </button>
    </form>
    <p class="text-center pointer">
      <span (click)="toLogin()" class="primary bold">
        {{ "back_login" | translate }}
      </span>
    </p>
  </div>
</auth-layout>
