<form [formGroup]="form">
  <div class="p-2 dir">
    <div class="flex-grid">
      <div class="col-lg-12 mb-2 date-pikker">
        <div class="date">
          <label class="fs-11 simibold mb-75" for="date">
            <i class="mr-50 bx bx-text"></i>
            <span>{{ "date" | translate }}</span>
          </label>
          <mat-form-field>
            <input matInput [matDatepicker]="end" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-12 mb-1">
        <label class="fs-11 simibold mb-75" for="date">
          <i class="mr-50 bx bx-text"></i>
          <span>{{ "type" | translate }}</span>
        </label>
          <ng-select [items]="typelist" formControlName="type" [clearSearchOnAdd]="true" [clearOnBackspace]="true" [multiple]="false" [closeOnSelect]="true" bindLabel="name" bindValue="name"></ng-select>
      </div>
      <div class="col-lg-12">
        <div>
          <input type="file" (change)="onFileSelected($event)" />
          <!-- <get-attachments  (getAttachments)="onFileSelected($event)" /> -->

        </div>
      </div>
      <div class="col-lg-12 mb-2">
        <div class="description">
          <label class="fs-11 simibold mb-75" for="description">
            <i class="mr-50 bx bx-phone"></i>
            <span>{{ "description" | translate }}</span>
          </label>
          <textarea id="description" class="input" rows="4" formControlName="describtion" maxlength="200"></textarea>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="bg-primary white py-1 px-2 border-0 rounded  pointer" (click)="onSubmit()"  mat-button>{{'confirm' | translate}}</button>
    </div>
  </div>
</form>
