.date-pikker{
  mat-form-field {
    width: 100%;
    .mat-mdc-text-field-wrapper {
      width: 100% !important;
      height: 41.2px !important;
      border-radius: 0.5rem !important;
      background: transparent !important;
      border: 1px solid #e7e7e7 !important;
      display: flex;
      align-items: center;
    }
  }
}
