.text-green { color: #1db489; font-weight: bold; }
.text-red { color: #e14b4b; font-weight: bold; }
.text-purple { color: #7c3aed; font-weight: bold; }
.avatar-xs { width: 32px; height: 32px; border-radius: 50%; object-fit: cover; }
.fs-12 { font-size: 12px; }
.gray { color: #888; }
.flex { display: flex; }
.aic { align-items: center; }
.gap-x-1 { gap: 0.5rem; }
.avatar-xs { width: 32px; height: 32px; border-radius: 50%; object-fit: cover; }
.fs-12 { font-size: 12px; }
.gray { color: #888; }
.fw-600 { font-weight: 600; }
.flex { display: flex; }
.aic { align-items: center; }
.gap-x-1 { gap: 0.5rem; }
.text-center { text-align: center; }
.ml-2 { margin-left: 0.5rem; }
.table-container{
    height: 67vh;
    overflow-y: auto;
  }
  