thead {
  position: unset !important;
}


.relative.section {
  min-height: 20rem;
}

.picker-icon {
  position: absolute;
  inset-inline-end: 0;
}

.date-picker {
  padding: .8rem 1.5rem !important;
}

.team-attendance
{
  min-height: 300px;
}
