.days_num {
  background: rgba(123, 85, 211, 0.08);
  padding: 16px 8px;
  border-radius: 8px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 15px;
  cursor: pointer;
  gap: 8px;
  position: relative;
}

.custom-checkbox-label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #a084e8;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: border-color 0.2s;
}

.custom-checkbox-label input[type="checkbox"]:checked+.custom-checkbox {
  background: #f6f3ff;
  border-color: #a084e8;
}

.custom-checkbox-label input[type="checkbox"]:checked+.custom-checkbox:after {
  content: "";
  position: absolute;
  inset-inline-end: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #a084e8;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);}


