<auth-layout img="forgot-password-v2">
  <div class="form w-100 flex-column jcc px-2 py-1">
    <h2>{{ "reset_password" | translate }}</h2>
    <form (submit)="submit()" [formGroup]="form">

      <div class="password mt-2">
        <input-label [control]="f['password']" key="password"></input-label>
        <input-password (getType)="passwordType = $event">
          <input [type]="passwordType" class="input password" formControlName="password">
        </input-password>
        <input-error [control]="f['password']"></input-error>
      </div>

      <div class="password confirm mt-2">
        <input-label [control]="f['confirmPassword']" key="confirm_password"></input-label>
        <input-password (getType)="confirmPasswordType = $event">
          <input [type]="confirmPasswordType" class="input password" formControlName="confirmPassword">
        </input-password>
        <input-error [control]="f['confirmPassword']"></input-error>

      </div>
      <button [disabled]="form.invalid || loading" class="submit rounded" color="primary" mat-raised-button>
        <submit-button [loading]="loading" text="confirm"></submit-button>
      </button>
    </form>
    <p class="text-center pointer">
      <span (click)="toLogin()" class="primary bold">{{ "back_login" | translate }}</span>
    </p>
  </div>
</auth-layout>
