<layout>
  <div class="flex flex-column jcsb table-filter-content">
    <div class="pt-1">
      <div class="">
        <div class="filters flex-grid mb-2 aie px-2">
          <div class="col-lg-3">
            <search [newSearch]="true" (valueChanged)="search($event)"></search>
          </div>
          <div class="col-lg-3">
           <app-date-range (valueChanged)="dateChange($event)"></app-date-range>
          </div>


        </div>


        <div class="table-container">
          <table class="w-100 rounded">
            <thead>
              <tr class="border-bottom fs-12 simibold">
                <th class="text-left py-1" style="width: 250px;">{{'rater' | translate}}</th>
                <th class="text-left py-1" style="width: 250px;">{{'rated' | translate}}</th>
                <th class="text-left py-1" style="width: 100px;">{{'rate' | translate}}</th>
                <th class="text-left py-1">{{'comment' | translate}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr class="border-bottom fs-12" *ngFor="let item of allRates| paginate: {itemsPerPage: limit, currentPage: page, totalItems: totalItems}" >
                <td>
                  <app-img-title [title]="item.raterName" [imgSrc]="item.raterPic" [subTitle]="item.raterJobTitle || '-'"></app-img-title>
                </td>
                <td>
                  <app-img-title [title]="item.ratedName" [imgSrc]="item.ratedPic" [subTitle]="item.ratedJobTitle || '-'"></app-img-title>
                </td>
                <td>
                  <p class="flex aic">
                    <span class="mr-25 bold">{{item.rate}}</span>
                    <i class="bx bxs-star gold fs-16"></i>
                  </p>
                </td>
                <td>
                  {{item.comment || '-'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination-content flex aic jcsb py-1 bg-white border-top border-bottom px-4" >
      <div class="flex aic">
        <p class="fs-12 simibold">{{ 'pagination_per_page' | translate }} </p>
        <input type="number" style="width:50px" class="input ml-75 limit text-center py-50 px-0" min="1" [(ngModel)]="limit" (ngModelChange)="changeLimit()">
        <p class="ml-50 primary fs-12" >{{ 'record' | translate }}</p>
      </div>
      <pagination-controls
        (pageChange)="pageChanged($event)"
        [maxSize]="7"
        [directionLinks]="true"
        [previousLabel]="'previous' | translate"
        [nextLabel]="'next' | translate"
                           >
      </pagination-controls>
      <p class="fs-12 simibold pr-3">{{ 'pagination_total_records' | translate }} <span
        class="primary">{{ totalItems | arabicNumbers }} {{ 'record' | translate }}</span>
      </p>
    </div>
  </div>
</layout>
