<div class="end flex aic gap-x-2 card-shadow meeting-bg p-2 white rounded-4 h-100">
  <div class="flex aic gap-x-1 pointer" routerLink="/meeting/meet">
    <i class="bx bx-video fs-25"></i>
    <h4>{{'start_meeting' | translate}}</h4>
  </div>
  <p>|</p>
  <div class="flex aic pointer" (click)="joinMeeting()">
    <i class="bx bx-plus fs-25"></i>
    <h4>{{'new_meeting' | translate}}</h4>
  </div>
</div>
<!-- <div class="meeting-card p-2 flex aic jcsb white w-100 h-100">
  <div class="start flex aic gap-x-2">
    <div class="img">
      <img src="assets/images/icons/solid-meet.svg" alt="solid meet icon" width="50">
    </div>
    <div class="content">
      <h3 class="line-height">{{'get_your_meeting' | translate}}</h3>
      <p class="fs-15">{{'stremline' | translate}}</p>
    </div>
  </div>
  <div class="end flex aic gap-x-2">
    <div class="flex aic gap-x-1 pointer" routerLink="/meeting/meet">
      <div class="img">
        <img src="assets/images/icons/meeting.svg" alt="meeting icon">
      </div>
      <h4>{{'start_meeting' | translate}}</h4>
    </div>
    <p>|</p>
    <div class="flex aic pointer" (click)="joinMeeting()">
      <div class="img mr-50">
        <img src="assets/images/icons/add.svg" alt="meeting icon" width="25">
      </div>
      <h4>{{'new_meeting' | translate}}</h4>
    </div>
  </div>
</div> -->
