.meeting-card {
  background: linear-gradient(91deg, rgba(123, 85, 211, 0.80) 10.56%, #7B55D3 100%);
  border-radius: 8px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
.meeting-bg{
  background: rgb(123,88,202);
background: linear-gradient(120deg, rgba(123,88,202,1) 0%, rgba(123,88,202,1) 55%, rgba(202,74,255,1) 60%, rgba(156,82,224,1) 65%, rgba(123,88,202,1) 100%);
}
