<layout>
  <div class="p-2 h-100 relative" magicScroll>
    <ng-container *ngIf="!loading && details.employeeName">
      <div class="payslip-card flex aic jcsb mb-3 bg-gray border rounded pt-50 px-2">
        <div class="flex aic gap-x-2">
          <div class="circular-progress-container">
            <svg class="circular-progress" viewBox="0 0 36 36">
              <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
              <path class="circle" [attr.stroke-dasharray]="progress + ', 100'" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
            </svg>
            <div class="percentage text-center bold fs-12">
              <p>{{ (details.gross ) | arabicNumbers }}</p>
              <p>{{ 'gross' | translate }}</p>
            </div>
          </div>

          <div class="earning flex aifs">
            <div class="dot bg-success"></div>
            <div class="data">
              <p>{{ (details.totalNet) | arabicNumbers }}</p>
              <p>{{ 'net' | translate }}</p>
            </div>
          </div>
          <div class="deduction flex aifs">
            <div class="dot bg-danger"></div>
            <div class="data">
              <p>{{ (totalDeductions) | arabicNumbers }}</p>
              <p>{{ 'deduction' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="img">
          <img src="assets/images/my-payslip.svg" alt="">
        </div>
      </div>
      <div class="flex-grid acs">
        <div class="col-lg-4">
          <div class="card border rounded h-100">
            <div class="title p-2 border-bottom">
              <p class="primary fs-17 bold">{{ 'earnings' | translate }}</p>
            </div>
            <div class="data p-2 flex w-100 jcsb flex-column hauto">
              <div>
                <div class="flex aic jcsb">
                  <p>{{ 'basic_salary' | translate }}</p>
                  <p class="bold">{{ details.basic | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1">
                  <p>{{ 'allowance' | translate }}</p>
                  <p class="bold">{{ details.totalAllowance | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1" *ngIf="details.earnedKpiBonus">
                  <p>{{ 'target_kpi_bonus' | translate }}</p>
                  <p class="bold">{{ details.earnedKpiBonus | arabicNumbers }}</p>
                </div>
              </div>
              <div class="total bg-gray rounded flex-center gap-x-3 p-1 mt-1">
                <p>{{ 'total_earning' | translate }}</p>
                <p class="primary bold">{{ (details.totalAllowance + details.basic) | arabicNumbers }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border rounded h-100">
            <div class="title p-2 border-bottom">
              <p class="danger fs-17 bold">{{ 'deduction' | translate }}</p>
            </div>
            <div class="data p-2 flex w-100 jcsb flex-column hauto">
              <div>
                <div class="flex aic jcsb">
                  <p>{{ 'income_tax' | translate }}</p>
                  <p class="bold">{{ details.taxes | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1">
                  <p>{{ 'insurance' | translate }}</p>
                  <p class="bold">{{ details.insurance | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1">
                  <span>{{ 'attendance_deduction' | translate }} <span *ngIf="details?.attendanceDeduction"> ( {{(details?.attendanceDeduction | arabicNumbers) }} )</span></span>
                  <p class="bold">{{ details.attendanceDeductionValue | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1">
                  <p>{{ 'other_deductions' | translate }}</p>
                  <p class="bold">{{ details.extraDeductions | arabicNumbers }}</p>
                </div>
              </div>
              <div class="total bg-gray rounded flex-center gap-x-3 p-1 mt-1">
                <p>{{ 'total_deduction' | translate }}</p>
                <p class="danger bold">{{ (totalDeductions) | arabicNumbers }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border rounded h-100">
            <div class="title p-2 border-bottom">
              <p class="success fs-17 bold">{{ 'net_pay' | translate }}</p>
            </div>
            <div class="data p-2 flex w-100 jcsb flex-column hauto">
              <div>
                <div class="flex aic jcsb">
                  <p>{{ 'gross_pay' | translate }}</p>
                  <p class="bold">{{ details.gross | arabicNumbers }}</p>
                </div>
                <div class="flex aic jcsb mt-1">
                  <p>{{ 'total_deduction' | translate }}</p>
                  <div class="flex aic bold danger">
                    <p *ngIf="dir == 'ltr'">-</p>
                    <p>{{ details.totalDeductions ? (totalDeductions | arabicNumbers) : (0  | arabicNumbers) }}</p>
                    <p *ngIf="dir == 'rtl'">-</p>
                  </div>
                </div>
              </div>
              <div class="total bg-gray rounded flex-center gap-x-3 p-1 mt-1">
                <p>{{ 'total_net' | translate }}</p>
                <p class="success bold">{{ (details.totalNet) | arabicNumbers }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <loading *ngIf="loading"/>
    <not-found *ngIf="!loading && !details.employeeName" message="no_payslip_available"/>
  </div>
</layout>
