<div class="py-1">
  <div class="filters flex-grid mb-2 aie jcsb w-100 mx-0">
    <div class="col-lg-3">
      <search [newSearch]="true" (valueChanged)="search($event)"></search>
    </div>
    <div class="col-lg-3 text-right">
      <a (click)="addContract()" style="display: inline-block;" class="btn rounded bg-primary white py-75 px-2 fs-14">
        {{'create_contract' | translate}}
      </a>
    </div>
  </div>
  <div class="px-50">
    <div class="aic flex jcc py-5 h-50v" *ngIf="loading">
      <loading ></loading>
    </div>

    <div class="table-container mx-1" *ngIf="allContracts?.length > 0 && !loading">
      <table class="w-100 rounded">
        <thead>
          <tr class="border-bottom fs-12 simibold">
            <th class="text-left py-1">{{'contract_type' | translate}}</th>
            <th class="text-left py-1">{{'status' | translate}}</th>
            <th class="text-left py-1">{{'start_date' | translate}}</th>
            <th class="text-left py-1">{{'end_date' | translate}}</th>
            <th class="text-left py-1">{{'basic_salary' | translate}}</th>
            <th class="text-left py-1">{{'total_of_allowance' | translate}}</th>
            <th class="text-left py-1">{{'target_kpi_bonus' | translate}}</th>
            <th class="text-left py-1">{{'Total_deductions' | translate}}</th>
            <!-- <th class="text-left py-1">{{'insurance_salary' | translate}}</th> -->
            <th class="text-left py-1">{{'gross_salary' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="border-bottom fs-12" *ngFor="let item of allContracts" >
            <td>{{typeOfContract[item?.typeOfContract - 1].name | translate}}</td>
            <td>{{statusOfContract[item?.statusOfContract - 1 ].name | translate}}</td>
            <td>{{item?.startDate | arabicDate}}</td>
            <td>{{item?.endDate ? (item.endDate | arabicDate) : ('permanent' | translate)}}</td>
            <td>{{item?.basicSalary}}</td>
            <td>{{item?.allowance}}</td>
            <td>{{item?.targetKPIBonus || '-'}}</td>
            <td>{{item?.deductions}}</td>
            <!-- <td>{{item?.insuranceSalary}}</td> -->
            <td>{{item?.grossSalary}}</td>
            <td>
              <div class="img pointer" (click)="openDialog(item)">
                <img src="assets/images/icons/edit1.svg" alt="edit icon">
              </div>
              <!-- <i class="ml-75 bx bx-trash danger fs-14 pointer"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="py-5 text-center" *ngIf="allContracts?.length == 0 && !loading">
      <not-found></not-found>
    </div>
  </div>
</div>

<ng-template #dialogTemplate>
  <div class="dir">
    <div class="flex w-100 jcsb">
      <h4>{{'change_contract_status' | translate}}</h4>
      <i class="bx bx-x fs-25 danger pointer p-1" (click)="closeDialog()"></i>
    </div>
    <mat-dialog-content>
      <div class="flex-grid gap-y-2">
        <div class="col-lg-12">
          <div class="name">
            <input-label key="status"/>
            <ng-select [items]="contractStatusTypes"  [(ngModel)]="contractStatus" [clearSearchOnAdd]="true" bindLabel="name" bindValue="value" appendTo="body">
              <ng-template ng-option-tmp ng-label-tmp let-item="item">
                {{ item.name | lowercase | translate }}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="text-right w-100">
        <a (click)="changeContractStatus()" style="display: inline-block;" class="btn rounded bg-primary white py-75 px-1 fs-14 ">
          {{'save' | translate}}
        </a>
      </div>
    </mat-dialog-actions>
  </div>
</ng-template>
