.new-dashboard{
  height: calc(100vh - 5rem);
  overflow: auto;
}
.welcome-bg {
  background: rgb(123,88,202);
  background: linear-gradient(120deg, rgba(123,88,202,1) 0%, rgba(123,88,202,1) 66%, rgba(202,74,255,1) 71%, rgba(156,82,224,1) 76%, rgba(123,88,202,1) 100%);
}



:host ::ng-deep{
  .dashboard-calendar{
    position: fixed;
    bottom: 15px;
    .mat-mdc-form-field-infix ,.mat-datepicker-toggle-default-icon {
      display: none;
    }
    .mat-mdc-focus-indicator{
      width: 45px;
      height: 45px;
    }
    .mat-mdc-button-touch-target{
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after{
        font-family: 'boxicons' !important; /* تأكد من استخدام خط boxicons */
        content: '\ea15'; /* استبدل هذا بالرمز الخاص بالأيقونة */
        font-size: 24px; /* حجم الأيقونة */
        color: #fff; /* لون الأيقونة */
      }
    }
    .mat-mdc-text-field-wrapper ,.mat-mdc-form-field-icon-suffix{
      padding: 0 !important;
    }
    .mat-mdc-text-field-wrapper {
      border-radius: 500px !important;
      box-shadow: 0 0 10px 1px #aaa !important;
      background-color: #7B58CA !important;
      border: 1px solid #7B58CA;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      & , *{
        transition: ease all 0.3s;
      }
    }
    .mat-mdc-text-field-wrapper:hover{
      background-color: #fff !important;
      .mat-mdc-button-touch-target::after{
        color: #7B58CA;
      }
    }
  }
}

.item-1 {
  margin-bottom : 3rem
}

.item-2 {
  margin-bottom : 3rem
}

.chart-w-box{
  max-width: 350px;
}
@media (min-width: 996px) {
  .col-lg-20 {
    width: 20% !important;
    padding-inline: 15px;
  }
}
