@use "vars" as *;

.ng-trigger-transformPicker {
  transform: scale(1.5, 1.5) !important;
}


.owl-dt-timer {
  height: 5em !important;
  padding: 0 !important;

  .owl-dt-timer-box {
    font-size: 8px !important;
  }
}


.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary;
}
