.month-view-calendar {
  height: 24.5rem;
}

table {
  width: 100%;
}

.selected-day {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.6;
}

.current-date {
  width: 15rem;
}

.dot {
  width: .5rem;
  height: .5rem;
}
