<layout>
  <div class="details h-100 relative" magicScroll>
    <div class="content" *ngIf="!loading">
      <div class="top-section p-2 border-bottom">
        <h2>{{ details?.subject }}</h2>
      </div>

      <div class="top-info flex aic jcsb p-2">
        <div class="users">
          <p class="mb-1">{{ 'from' | translate }}: {{ details?.senderEmail }}</p>
          <p class="mb-1">{{ 'to' | translate }}: {{ details?.to }}</p>
          <p *ngIf="details.cSc?.length > 0">{{ 'cc' | translate }}: {{ details?.cCs }}</p>
        </div>

        <div class="date flex aic jcsb gap-x-3">
          <p class="muted">{{ details?.date | arabicDate }}, {{ details?.date | arabicTime:false }}</p>
          <div class="flex aic gap-x-2">
            <img src="assets/images/icons/email-reply.svg" [matTooltip]="'reply' | translate" matTooltipClass="tooltip" class="right pointer" alt="" (click)="reply()">
            <img src="assets/images/icons/email-forward.svg" [matTooltip]="'forward' | translate" matTooltipClass="tooltip" class="right pointer" alt="" (click)="forward()">
          </div>
        </div>
      </div>

      <div class="main-section p-2">
        <div class="mb-2" [innerHTML]="details?.htmlBody"></div>

        <div class="flex-grid">
          <ng-container *ngFor="let attachment of details?.attachment">
            <div class="col-lg-4">
              <div class="attachment-card p-2 bg-gray rounded flex jcsb mt-1">
                <div class="start flex aic">
                  <div class="img mr-1">
                    <img src="assets/images/attachments/image.svg" alt="image icon" *ngIf="attachment.fileType == 2">
                    <img src="assets/images/attachments/document.svg" alt="image icon" *ngIf="attachment.fileType == 3 || attachment.fileType == 1 || attachment.fileType == 6">
                    <img src="assets/images/attachments/video.svg" alt="image icon" *ngIf="attachment.fileType == 4">
                  </div>
                  <p *ngIf="attachment.fileName.length <= 20">{{ attachment.fileName }}</p>
                  <p *ngIf="attachment.fileName.length > 20">{{ attachment.fileName | slice:0:20 }}...</p>
                </div>
                <a class="end pointer" [href]="attachment.content" download target="_blank">
                  <img src="assets/images/attachments/download.svg" alt="image icon">
                </a>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="actions flex aic gap-x-2 mt-3">
          <button class="clickable-btn border rounded px-2 flex aic py-50" (click)="reply()">
            <img src="assets/images/icons/email-reply.svg" class="right" alt="">
            <p class="ml-50">{{ 'reply' | translate }}</p>
          </button>
          <button class="clickable-btn border rounded px-2 flex aic py-50" (click)="forward()">
            <img src="assets/images/icons/email-forward.svg" class="right" alt="">
            <p class="ml-50">{{ 'forward' | translate }}</p>
          </button>
        </div>
      </div>
    </div>
    <loading *ngIf="loading"></loading>
  </div>
</layout>
