<div class="task-details" [dir]="dir">
  <div class="dialog-content">
    <ng-container *ngIf="details$ | async as details">
      <div class="top-section flex aic jcsb p-2 border-bottom">
        <div class="start flex aic gap-x-2">
          <img src="assets/images/leave/time-off.svg" alt="" width="25" height="25">
          <p>L-{{ details.id }}</p>
          <p class="fs-17 bold" *ngIf="dir == 'ltr'">{{ details.leaves_type | titlecase }} {{ 'leave_request' | translate }}</p>
          <p class="fs-17 bold" *ngIf="dir == 'rtl'"> {{ 'leave_request' | translate }} {{ details.leaves_type }}</p>
        </div>
        <div class="flex aic jcsb gap-x-1">
          <div class="action flex aic">
            <ng-container *ngIf="details.leaveStatus == 0">
              <span class="rounded py-25 px-1 fs-14 bg-pending">{{ 'pending' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="details.leaveStatus == 1">
              <span class="rounded py-25 px-1 fs-14 bg-approved">{{ 'approved' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="details.leaveStatus == 2">
              <span class="rounded py-25 px-1 fs-14 bg-rejected">{{ 'rejected' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="details.leaveStatus == 3">
              <span class="rounded py-25 px-1 fs-14 bg-canceled">{{ 'canceled' | translate }}</span>
            </ng-container>
          </div>
          <img src="assets/images/icons/history.svg" alt="history icon" class="convert-image-color pointer ml-1"
               (click)="getHistory()">
        </div>
      </div>

      <div class="p-2">
        <div class="users flex aic jcsb">
          <div class="creator">
            <p class="fs-17 bold">{{ 'manager' | translate }}</p>
            <div class="flex aic mt-1">
              <user-image [img]="details.manager_image_url" [id]="details.manager_id"></user-image>
              <p class="ml-1">{{ details.manager_name }}</p>
            </div>
          </div>

          <div class="assignee">
            <p class="fs-17 bold">{{ 'employee' | translate }}</p>
            <div class="flex aic mt-1">
              <user-image [img]="details.employee_image_url" [id]="details.employee_id"></user-image>
              <p class="ml-1">{{ details.employee_name }}</p>
            </div>
          </div>
        </div>

        <div class="mt-2" *ngIf="details.reason">
          <p class="fs-17 bold">{{ 'reason' | translate }}</p>
          <p class="mt-50 contains-link word-break" [innerHTML]="details.reason" *ngIf="details.reason"></p>
        </div>

        <div class="mt-2" *ngIf="details.stateReason">
          <h4 class="danger">{{ 'rejection_reason' | translate }}</h4>
          <p class="mt-1 danger contains-link word-break" [innerHTML]="details.stateReason"
             *ngIf="details.stateReason"></p>
        </div>

        <div class="mt-2" *ngIf="details.leaveAttachments && details.leaveAttachments.length > 0">
          <task-attachments [images]="details.leaveAttachments"></task-attachments>
        </div>
      </div>
      <info-sidebar [open]="historyIsOpen">
        <ng-container header>
          <h2>{{ 'history' | translate }}</h2>
        </ng-container>

        <ng-container content>
          <div class="p-2" *ngIf="details">
            <history [history]="details.histories"></history>
          </div>
        </ng-container>
      </info-sidebar>
    </ng-container>
    <loading class="a-center" *ngIf="service.loading.value"/>
  </div>
  <div class="buttons" mat-dialog-actions align="end">
    <div class="flex">
      <button class="px-4 mr-2 dark-color clickable-btn rounded cancel-btn"
              [mat-dialog-close]="{value: false}">{{ 'close' | translate }}
      </button>
      <button mat-raised-button color="primary" class="px-4 fs-15" [mat-dialog-close]="{value: true}">
        {{ 'go_to_leave' | translate }}
      </button>
    </div>
  </div>
</div>


